version: '3.8'

services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8000:80"
    environment:
      - APP_ENV=local
      - APP_KEY=base64:qYsDwka1P66qpZ9oKK9TsgdPO3L2FnNX7GzB57scOhk=
      - FRONTEND_URL=http://localhost:5174
      - DB_CONNECTION=mysql
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=laraveldb
      - DB_USERNAME=laravel
      - DB_PASSWORD=laravel
    depends_on:
      - db
    volumes:
      - ./api/storage:/app/storage
    networks:
      - laravel

  db:
    image: mysql:8.0
    environment:
      - MYSQL_DATABASE=laraveldb
      - MYSQL_USER=laravel
      - MYSQL_PASSWORD=laravel
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - laravel

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5174:5174"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - laravel

volumes:
  db_data:

networks:
  laravel:
    driver: bridge